<% include ../partials/boilerplate %>
<% include ../partials/nav %>
<div class='forum-hero'>
<% if (threads.length != 0) { %>
  <h1><%= threads[0].topic %></h1>

</div>
  <% for (let i= 0; i < threads.length; i++) { %>
  <div class='forum-view'>
    <a class='linkto' href='/threads/<%= threads[i].id %>'><%= threads[i].thread %></a>

  </div>
  <% } %>
<div class='forum-view'>
    <a class='linkto' href='/forums/<%= forumId %>/threads/new'>Create New Thread!</a>
</div>
<% } else { %>
<h1><%= forumId %></h1>

<div class='forum-view'>
    <a class='linkto' href='/forums/<%= forumId %>/threads/new'>Create New Thread!</a>
</div>

<% } %>
<% include ../partials/end %>
